@import "tailwindcss";

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
   
  /* color: rgb(24, 198, 198); */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background: linear-gradient(#121718, #13343e) !important; */
  background: linear-gradient(135deg, #121718, #1b2d33, #13343e);
  background-repeat: no-repeat;
  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width:900px) {
  #root{
    background: linear-gradient(to right, #121718, #13343e) !important;
  }
}

